<div class="topbar">
    <h3 class="name">Boen Wang</h3>
    <table class="mainmenu" align= "right">
        <tr>
             <td><a href="/">Home</a></td>
                <td><a href="/academics">Academics</a></td>
                <td><a href="/academics">Extracurriculars</a></td>
                <td><a href="/academics">Working Experience</a></td>
                <td><a href="/aboutme">About Me</a></td>
            </tr>
        </table>
</div>