<div class="topbar">
    <h3 class="name">Boen Wang</h3>
    <table class="mainmenu" align= "right">
        <tr>
             <td><a href="index.html">Home</a></td>
                <td><a href="studies.html">Academics</a></td>
                <td><a href="Extracurriculars.html">Extracurriculars</a></td>
                <td><a href="work.html">Working Experience</a></td>
                <td><a href="aboutme.html">About Me</a></td>
            </tr>
        </table>
</div>